.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.carousel {
  width: 100vw;
  height: 675px;
  position: relative;
  overflow: hidden;
}

/* Slides container: holds all slides horizontally */
.carousel-slides-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  gap: 16px;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
}

.carousel-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 5%;
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

/* Dots */
.custom-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.custom-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-indicators button.active {
  background-color: black;
}
