header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  gap: 16px;
}

header a {
  font-size: 12px;
  text-decoration: none;
  color: #afafaf;
}

.header-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.hamburger {
  display: none;
}

#search-panel,
#shoppingcart-panel,
#overlay-nav,
#menu-panel {
  position: absolute;
  top: 100%; /* just below header */
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: white;
}

/* Responsive */
@media (max-width: 835px) {
  .hamburger {
    display: inline-block;
  }

  .header-navigation {
    display: none;
  }
}
